/dataset/Cifar10*
/results
/system/models/
/system/job_out_*
/system/*.sh
/system/loss_img
/system/drawresult.py
/system/model_explore.py
/dataset/submit.sh
/system/*.ipynb
/system/*.out
/system/*.sh
/dataset/*.out
/system/log_out
/system/cifar10*
/system/wandb/
/system/data.py
/system/*.png
/system/*.csv
/system/*.npy
/system/data2.py
/system/utils/*.npy
/system/flcore/trainmodel/vit-tiny-patch16-224/
/dataset/*.pkl
/system/checkpoint_*

